.ToDoElement {
  border: 1px solid darkgrey;
  max-width: 500px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

  div {
    display: flex;
    align-items: center;

    input {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    .toDoElementCompleted {
      text-decoration: line-through;
    }

  }

  .toDoElementRemoveIcon {
    cursor: pointer;
    margin-left: 10px;
  }
  .toggleInput {
    width: 250px;
  }
  .link {
    color: #080705;
    text-decoration: none;
    margin-bottom: 0;
    max-width: 350px;
  }
}